<div class="col-md-12">
    <!-- CARTAS DE NIVEL 1 -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="margin-left: 13px;">{{nivel1}}</h4>
            <span *ngFor="let card of cards.slice(0,11)">
                <span *ngIf="card.rareza == '1'">
                    <img src="../../../assets/images/nv1_azul/{{card.img_aliado}}" width="14%" style="margin: 10px;">
                </span>
            </span>
        </div>
    </div>

    <!-- CARTAS DE NIVEL 2 -->
    <div>
        {{nivel2}}
    </div>
    <span *ngFor="let card of cards.slice(11,22)">
        <span *ngIf="card.rareza == '2'">
            <img src="../../../assets/images/nv2_azul/{{card.img_aliado}}" width="15%">
        </span>
    </span>

    <!-- CARTAS DE NIVEL 3 -->
    <div>
        {{nivel3}}
    </div>
    <span *ngFor="let card of cards.slice(22,33)">
        <span *ngIf="card.rareza == '3'">
            <img src="../../../assets/images/nv3_azul/{{card.img_aliado}}" width="15%">
        </span>
    </span>

    <!-- CARTAS DE NIVEL 4 -->
    <div>
        {{nivel4}}
    </div>
    <span *ngFor="let card of cards.slice(33,44)">
        <span *ngIf="card.rareza == '4'">
            <img src="../../../assets/images/nv4_azul/{{card.img_aliado}}" width="15%">
        </span>
    </span>

    <!-- CARTAS DE NIVEL 5 -->
    <div>
        {{nivel5}}
    </div>
    <span *ngFor="let card of cards.slice(44,55)">
        <span *ngIf="card.rareza == '5'">
            <img src="../../../assets/images/nv5_azul/{{card.img_aliado}}" width="15%">
        </span>
    </span>

    <!-- CARTAS DE NIVEL 6 -->
    <div>
        {{nivel6}}
    </div>
    <span *ngFor="let card of cards.slice(55,66)">
        <span *ngIf="card.rareza == '6'">
            <img src="../../../assets/images/nv6_azul/{{card.img_aliado}}" width="15%">
        </span>
    </span>

    <!-- CARTAS DE NIVEL 7 -->
    <div>
        {{nivel7}}
    </div>
    <span *ngFor="let card of cards.slice(66,77)">
        <span *ngIf="card.rareza == '7'">
            <img src="../../../assets/images/nv7_azul/{{card.img_aliado}}" width="15%">
        </span>
    </span>

    <!-- CARTAS DE NIVEL 8 -->
    <div>
        {{nivel8}}
    </div>
    <span *ngFor="let card of cards.slice(77,88)">
        <span *ngIf="card.rareza == '8'">
            <img src="../../../assets/images/nv8_azul/{{card.img_aliado}}" width="15%">
        </span>
    </span>

    <!-- CARTAS DE NIVEL 9 -->
    <div>
        {{nivel9}}
    </div>
    <span *ngFor="let card of cards.slice(88,99)">
        <span *ngIf="card.rareza == '9'">
            <img src="../../../assets/images/nv9_azul/{{card.img_aliado}}" width="15%">
        </span>
    </span>

    <!-- CARTAS DE NIVEL 10 -->
    <div>
        {{nivel10}}
    </div>
    <span *ngFor="let card of cards.slice(99,110)">
        <span *ngIf="card.rareza == '10'">
            <img src="../../../assets/images/nv10_azul/{{card.img_aliado}}" width="15%">
        </span>
    </span>
</div>