    body {
        background-color: #17181c;
        margin: 40px;
    }
    
    .fondo {
        background-color: #17181c;
        align-content: center;
        padding: 50px;
    }
    
    .card {
        background-color: #5f96c8;
        height: 80vh;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        padding: 20px 20px;
        margin-top: 30px;
    }
    
    select.minimal {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
    }
    
    select.minimal:focus {
        background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        border-color: green;
        outline: 0;
    }
    
    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
    
    select {
        /* styling */
        background-color: white;
        border: thin solid blue;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;
        /* reset */
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    
    .img-shadow-1 {
        cursor: pointer;
        margin: 5px;
        -webkit-box-shadow: 0 28px 16px -26px black;
        -moz-box-shadow: 0 28px 16px -26px black;
        box-shadow: 0 28px 16px -26px black;
    }
    
    .img-shadow-1:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        -webkit-box-shadow: 0 58px 36px -56px black;
        -moz-box-shadow: 0 58px 36px -56px black;
        box-shadow: 0 58px 36px -56px black;
    }
    
    .img-shadow-1 {
        transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
    }
    
    .img-shadow-1:hover {
        transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
    }
    
    #select {
        margin-top: 30px;
    }
    
    .buton {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: rgb(56, 126, 49);
        width: 30%;
        border: 0;
        border-radius: 25px;
        padding: 10px;
        color: rgb(255, 255, 255);
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        margin-right: 4px;
    }
    
    .buton:hover,
    .buton:active,
    .buton:focus {
        background: #43A047;
    }
    
    .buton2 {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: rgb(107, 46, 46);
        width: 30%;
        border: 0;
        border-radius: 25px;
        padding: 10px;
        color: rgb(255, 255, 255);
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        margin-left: 4px;
    }
    
    .buton2:hover,
    .buton2:active,
    .buton2:focus {
        background: rgb(160, 67, 67);
    }
    
    .grid {
        background-image: url(../../../assets/images/celda.jpg);
        background-size: initial;
        background-position: center;
        height: 45vh;
        width: 15vw;
        border: black;
        border-style: double;
    }
    
    .tabla {
        margin: 0 auto;
        margin-top: 90px;
    }
    
    .cartas {
        margin: 0 auto;
    }
    
    .puntuacion {
        font-size: 85px;
        color: white;
        text-align: center;
    }
    
    input[type="radio"]:checked {
        background-color: red;
    }
    
    input[class="carta"]:active {
        background-color: yellow;
    }
    
    .carta:checked {
        background-color: blue;
    }