<div class="col-md-12">
    <div class="row fondo">
        <div class="col-2">
            <img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="50%" class="img-shadow-1"><br>
            <img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="50%" class="img-shadow-1"><br>
            <img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="50%" class="img-shadow-1"><br>
            <img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="50%" class="img-shadow-1"><br>
            <img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="50%" class="img-shadow-1">
        </div>

        <div class="col-8">
            <table class="tabla">
                <tr>
                    <td class="grid" name="grid1"><img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="95%" class="img-shadow-1"></td>
                    <td class="grid" name="grid3"><img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="95%" class="img-shadow-1"></td>
                    <td class="grid" name="grid2"><img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="95%" class="img-shadow-1"></td>
                </tr>
                <tr>
                    <td class="grid" name="grid5"><img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="95%" class="img-shadow-1"></td>
                    <td class="grid" name="grid4"><img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="95%" class="img-shadow-1"></td>
                    <td class="grid" name="grid6"><img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="95%" class="img-shadow-1"></td>
                </tr>
                <tr>
                    <td class="grid" name="grid7"><img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="95%" class="img-shadow-1"></td>
                    <td class="grid" name="grid8"><img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="95%" class="img-shadow-1"></td>
                    <td class="grid" name="grid9"><img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="95%" class="img-shadow-1"></td>
                </tr>
            </table>
        </div>
        <div class="col-2 cartas">
            <img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="50%" class="img-shadow-1"><br>
            <img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="50%" class="img-shadow-1"><br>
            <img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="50%" class="img-shadow-1"><br>
            <img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="50%" class="img-shadow-1"><br>
            <img src="../../../assets/images/back.png" style="margin-bottom: 14px;" width="50%" class="img-shadow-1">
        </div>
    </div>
</div>