<div class="col-md-12">
    <div class="row fondo">
        <div class="card col-lg-12 col-md-12 col-xs-12">
            <div class="card-title" align=center>
                <h1>NUEVA PARTIDA</h1>
                <hr>
            </div>
            <div class="card-body">

                <h3>Se seleccionarán 5 cartas aleatorias de tu colección para la siguiente partida</h3>
                <hr>

                <img src="http://triple-triad.com/images/back.png" style="margin-bottom: 14px;" width="14%" class="img-shadow-1">
                <img src="http://triple-triad.com/images/back.png" style="margin-bottom: 14px;" width="14%" class="img-shadow-1">
                <img src="http://triple-triad.com/images/back.png" style="margin-bottom: 14px;" width="14%" class="img-shadow-1">
                <img src="http://triple-triad.com/images/back.png" style="margin-bottom: 14px;" width="14%" class="img-shadow-1">
                <img src="http://triple-triad.com/images/back.png" style="margin-bottom: 14px;" width="14%" class="img-shadow-1">

                <div [hidden]="isHidden">
                    <select class="minimal" id="select" [ngModel]="selectedObj" (ngModelChange)="onChangeObj($event)">
                        <option selected>Elija un adversario</option>
                            <option [ngValue]="user" *ngFor="let user of usersList">{{user.username}}</option>
                    </select>
                    <hr>

                    <input type="button" value="Enviar reto" class="btn btn-warning" *ngIf="selectedObj == 'Elija un adversario'" disabled>
                    <input (click)="retar()" type="button" value="Enviar reto" class="btn btn-warning" *ngIf="selectedObj != 'Elija un adversario'">
                </div>
                <hr>
                <div [hidden]="isChallenged">
                    <h3>¿Desea aceptar el duelo de {{elRetador}}?</h3>
                    <hr>
                    <input (click)="aceptar()" type="button" value="Aceptar reto" class="buton">
                    <input (click)="rechazar()" type="button" value="Rechazar reto" class="buton2">
                </div>
            </div>
        </div>
    </div>
</div>