<div class="col-md-12">
    <div class="row fondo">
        <div class="col-xs-12 col-sm-12 col-md-12 fondo">
            <div *ngIf="identity">

                <div [routerLink]="['new-game']" class="card nueva btn" *ngIf="isNueva">
                    <h3>NUEVA PARTIDA</h3>
                </div>

                <div [routerLink]="['match', partidaEnCurso.id]" class="card nueva btn" *ngIf="inGame">
                    <h3>PARTIDA EN CURSO</h3>
                </div>

                <div class="card esperando btn" *ngIf="isWaiting">
                    <h3>ESPERANDO AL OPONENTE</h3>
                </div>

                <div [routerLink]="['new-game']" class="card retado btn" *ngIf="isChallenged">
                    <h3>TE HAN RETADO A UN DUELO</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="carrousel">
        <div class="container">
            <div class="title col-md-12 text-center"> Waterwheel Owl Carousel 2</div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    <img src="../../../assets/images/back.png">
                    <img src="../../../assets/images/back.png">
                    <img src="../../../assets/images/back.png">
                    <img src="../../../assets/images/back.png">
                    <img src="../../../assets/images/back.png">
                    <img src="../../../assets/images/back.png">
                    <img src="../../../assets/images/back.png">
                    <img src="../../../assets/images/back.png">
                </div>
            </div>
            <div class="text-center">
                <button id="play-carousel" type="button" class="btn btn-dark">Play</button>
                <div class="status"></div>
            </div>
        </div>
    </div>

</div>